# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/app/build/
android/local.properties

# iOS / macOS
ios/Flutter/
ios/Pods/
ios/.symlinks/
ios/build/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
macos/Pods/
macos/build/

# Xcode
*.xcuserdata/
*.xcuserstate

# VSCode
.vscode/

# Misc
.DS_Store
*.log

# Windows build
windows/runner/Debug
windows/runner/Release
