# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IntelliJ
*.iml
.idea/

# VSCode
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.packages
.build/
pubspec.lock

# Flutter builds
build/

# Android
android/local.properties
android/app/debug
android/app/profile
android/app/release

# iOS
**/Pods/
**/DerivedData/

# Web
web/.dart_tool/
